*.icon-white {color: white}
*.icon-silver {color: silver}
*.icon-gold {color: gold}
*.icon-greenyellow {color: greenyellow}
*.icon-green_header {color: #39C26D}
*.icon-red_delete {color: #ea4133}
*.icon-gray {color: gray}

@media only screen and (max-width: 768px){
    /* small screen */
    .full-details { display:none }
    .less-details { display: block; }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
    /* medium screen */
    .full-details { display: block; }
    .less-details { display: none; }
    .hideable-column {display: none}
}

@media only screen and (min-width: 1024px){
    /* small screen */
    div.full-details { display: block; }
    div.less-details { display: none; }
    .hideable-column {display: none}
}